replicaCount: 2

image:
  repository: "asia-south1-docker.pkg.dev/synthetic-diode-478517-e0/krishna/myapp"
  tag: "1da0996"
  pullPolicy: Always
  imagePullSecret: regcred

service:
  type: ClusterIP
  port: 80
  targetPort: 8080

ingress:
  enabled: false

resources:
  limits:
    cpu: "500m"
    memory: "512Mi"
  requests:
    cpu: "100m"
    memory: "128Mi"

readinessProbe:
  httpGet:
    path: /health
    port: 8080
  initialDelaySeconds: 5
  periodSeconds: 10
  failureThreshold: 3

livenessProbe:
  httpGet:
    path: /health
    port: 8080
  initialDelaySeconds: 15
  periodSeconds: 20

env:
  - name: PORT
    value: "8080"
  - name: JWT_SECRET
    valueFrom:
      secretKeyRef:
        name: my-express-secret
        key: JWT_SECRET

hpa:
  enabled: true
  minReplicas: 1
  maxReplicas: 2
  targetCPUUtilizationPercentage: 90

namespace: learning
