replicaCount: 1
image:
  repository: asia-south1-docker.pkg.dev/learning-481011/k8-final/k8-final-prod
  pullPolicy: Always
  tag: 5e24cef
service:
  type: ClusterIP
  port: 80
  targetPort: 8080
ingress:
  enabled: true
  host: ''
resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 200m
    memory: 200Mi
readinessProbe:
  httpGet:
    path: /api/health
    port: 8080
  initialDelaySeconds: 5
  periodSeconds: 10
  failureThreshold: 3
livenessProbe:
  httpGet:
    path: /api/health
    port: 8080
  initialDelaySeconds: 15
  periodSeconds: 20
env:
  - name: PORT
    value: '8080'
  - name: JWT_SECRET
    valueFrom:
      secretKeyRef:
        name: prod-pod-env-secret
        key: JWT_SECRET
hpa:
  enabled: true
  minReplicas: 1
  maxReplicas: 2
  targetCPUUtilizationPercentage: 70
